.container {
    width: 1000px;
    background-color: coral;
    display: flex;
}

.item {
    height: 200px;
}

.item1 {
    background-color: pink;
    /* width: 1000px; */
    /* flex: 3; */
    flex-grow: 1;
    /* flex-shrink: 3; */
    flex-basis: 100px;
}

.item2 {
    background-color: skyblue;
    /* width: 1000px; */
    /* flex: 2; */
    flex-grow: 1;
    /* flex-shrink: 2; */
    flex-basis: 200px;
}

.measure {
    display: flex;
    width: 1000px;
    background: linear-gradient(to right, #69ff05, #5ada05, #3e9901);
}

.measure * {
    width: 100px;
    box-sizing: border-box;
    padding: 8px;
    text-align: right;
    border-left: solid 1px black;
}